
  header {
    width: 100%;
    background: #EBEDE8;
    padding: 10px 0;
    position: fixed; /* Keeps it at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures it's above other content */
  }

  .nav-header {
    display: flex;
    gap: 80px;
    margin-right: 150px;
}

.nav-header a {
  color: #073127;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}

.nav-header a:hover {
  text-decoration: underline;
}
  
  .homepage-container {
    margin-top: 80px; /* Adjust based on header height */
    padding: 20px;
    background-color: #EBEDE8;
    gap: 20px;
  }
  