.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #EBEDE8;
    font-family: 'IBM Plex Mono', monospace;
    gap: 10px;
}

.logo-login{
    width: 300px;
    margin-top: -70px;
}

.login-h1 {
    font-size: 40px;
    font-weight: 700;
    color: #073127;
    margin-top: -50px;
    padding-bottom: 20px;

}


.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  

label {
    font-size: 20px;
    font-weight: 700;
    color: #073127;
}

.input_login {
    height: 40px;
    padding: 5px 10px;
    border: 1px solid rgba(7, 49, 39, 0.8);
    border-radius: 10px;
    background-color: #EBEDE8;
    font-size: 16px;
    color: #073127;
}

.input_login::placeholder {
    color: rgba(7, 49, 39, 0.4);
}

.submit_login {
    height: 50px;
    width: 400px;
    background-color: #004838;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit_button:hover {
    background-color: #073127;
}

p {
    font-size: 16px;
    color: rgba(7, 49, 39, 0.5);
    text-align: center;
}

p a {
    color: #073127;
    font-weight: 500;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
